*{
    margin:0;
    padding:0;
}
body{
    font-size:62.5%;
}
.content{
    width:100%;
    max-width:64em;
    margin:0 auto;
}
.cell{
    padding:15.5%;
    margin:1%;
    border-radius:10%;
    background-color: #ffc83c;
    float:left;
}
/*宽度少于58em时，body改变*/
@media screen and(max-width:58em) {
    .body {
        font-size: 42.5%;
    }
}
