*{
    margin:0;
    padding:0;
}
body{
    font-size:62.5%;
}
img{
    max-width:100%;
}
.wrap{
    max-width:720px;
    margin:0 auto;
    font-family:"Microsoft YaHei", serif;
}
.header{
    position:relative;
    padding:2% 0;
    background-color:#8bb8c1;
    font-family:"Microsoft YaHei", serif;
}
.header img{
    position:absolute;
    top:13%;
    left:2%;
    width:4%;
    background-size: cover;
}
.header h2{
    width:100%;
    text-align: center;
    vertical-align: middle;
    font-weight:normal;
    font-size:3.5em;
    color:white;
}
.ava-content {
    position:relative;
    padding:20% 0;
    background: url("images/icon-bg.png");
    font-family:"Microsoft YaHei", serif;
}
.icon-ava{
    width:25%;
    position:absolute;
    top:23%;
    left:4%;
}
.text-name{
    position:absolute;
    top:37%;
    left:34%;
    font-size:2.5em;
    color:white;
}
.text-age{
    position:absolute;
    top:37%;
    left:48%;
    font-size:2.5em;
    color:white;
}
.text-space{
    position:absolute;
    top:50%;
    left:37%;
    font-size:2em;
    color:white;
}
.icon-space{
    position:absolute;
    top:51%;
    left:34%;
    width:3%;
}
.msg-ability{
    float:left;
    font-size:2.5em;
    color: black;
    margin:3%;
    padding-left:5%;
    border-left:solid 0.1em #7ec5ce;
}
ul{
    clear:both;
    list-style-type: none;
    padding:2%;
}
li{
    padding:3% 0;
    border-top:solid 0.1em #e1e5e7;
}
.text-home{
    border-right:solid 0.1em #e1e5e7;
    margin:2%;
    padding-right:3%;
    font-size:2.5em;
}
.text-food{
    padding-right:2%;
    font-size:2.5em;
}
.column{
    padding-right:4%;
    border-right:solid 0.1em #e1e5e7;
    font-size:3em;
    color:#999999;
}
ul li span{
    font-size:3em;
    padding-left:4%;
}
.introduce{
    display: inline-block;
    width: 57%;
    vertical-align: middle;
    font-size: 2.5em;
}
.footer{
    overflow: hidden;
    margin-bottom:5%;
}
.footer form input{
    float:left;
    width:45%;
    margin:2.5%;
    border:solid 0.09em #7ec5ce;
    border-radius: 2%;
    -moz-border-radius: 2%; /* Firefox */
    -webkit-box-sizing: border-box; /*Safari */
    font-size:3.5em;
    padding:2% 0;
    font-family:"Microsoft YaHei", serif;
}
.message{
    color:#5ac0ce;
}
.contact{
    color:white;
    background-color:#7ec5ce;
}
@media screen and (max-width:321px){
    body{
        font-size: 30.5%;
    }
}
@media screen and (max-width: 376px)and (min-width: 321px){
    body{
        font-size: 36.5%;
    }
}
@media screen and (max-width: 414px) and (min-width: 376px){
    body{
        font-size: 38.5%;
    }

}
@media screen and (max-width: 580px) and (min-width: 414px) {
    body {
        font-size: 42.5%;
    }

}